<div class="form-container">
    <form [formGroup]="signUpForm">

        <mat-form-field class="form-field">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput formControlName="fullName">
            <mat-error *ngIf="signUpForm.get('fullName')?.errors?.['required'] && signUpForm.get('fullName')?.touched">Full Name is required</mat-error>
            <mat-error *ngIf="signUpForm.get('fullName')?.errors?.['pattern']">Only Alphabets </mat-error>
            <mat-error *ngIf="signUpForm.get('fullName')?.errors?.['whiteSpaceError']">should not include more than one white space</mat-error>
        </mat-form-field><br>

        <mat-form-field class="form-field">
            <mat-label>Mob No</mat-label>
            <input type="text" matInput formControlName="Mob" appOnlynumber>
            <mat-error *ngIf="signUpForm.get('Mob')?.errors?.['pattern']">Invalid Pattern</mat-error>
            <mat-error *ngIf="signUpForm.get('Mob')?.errors?.['maxlength']">Maximum 10 Number</mat-error>
            <mat-error>Number is required</mat-error>
        </mat-form-field><br>

        <mat-form-field class="form-field">
            <mat-label>Pan Card</mat-label>
            <input type="text" matInput formControlName="Pan">
            <mat-error *ngIf="signUpForm.get('Pan')?.errors?.['pattern']">Invalid Pattern</mat-error>
            <mat-error *ngIf="signUpForm.get('Pan')?.errors?.['required']">Pan Number is required</mat-error>
        </mat-form-field><br>
        <!-- CBMPJ0420J -->

        <mat-radio-group aria-label="Gender" formControlName="Gender">
            <mat-label>Gender</mat-label>
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="female">female</mat-radio-button>
        </mat-radio-group><br>

        <mat-form-field class="form-field">
            <mat-label>Password</mat-label>
            <input [type] = "isShowPass ? 'text' : 'password'" (keyup)="passMatch()" matInput formControlName="password">
            <mat-error *ngIf="signUpForm.get('password')?.errors?.['pattern']">Invalid Pattern</mat-error>
            <mat-error *ngIf="signUpForm.get('password')?.errors?.['required'] && signUpForm.get('password')?.touched">Password is required</mat-error>
            <mat-icon matSuffix *ngIf="!isShowPass" (click)="showPassword()">visibility</mat-icon>
            <mat-icon matSuffix *ngIf="isShowPass" (click)="showPassword()">visibility_off</mat-icon>
        </mat-form-field><br>
        

        <mat-form-field class="form-field">
            <mat-label>Confirm Password</mat-label>
            <input [type]="isShowConfirmPass? 'text' : 'password'" (keyup)="passMatch()" matInput formControlName="confirmPass" >
            <mat-error *ngIf="signUpForm.get('confirmPass')?.errors?.['pattern']">Invalid Pattern</mat-error>
            <mat-error *ngIf="signUpForm.get('confirmPass')?.errors?.['required'] && signUpForm.get('confirmPass')?.touched">Password is required</mat-error>
            <mat-icon matSuffix *ngIf="!isShowConfirmPass" (click)="showConPassword()">visibility</mat-icon>
            <mat-icon matSuffix *ngIf="isShowConfirmPass" (click)="showConPassword()">visibility_off</mat-icon>
        </mat-form-field>
        <mat-error *ngIf=" isMatch && !signUpForm.get('confirmPass')?.errors?.['required'] && !signUpForm.get('confirmPass')?.errors?.['pattern']">Password is not match</mat-error>

        <br>
        <input type="checkbox" formControlName="tc"> I agree terms and condions
        <br>
        <button mat-raised-button color="accent" class="btn" [disabled]="!signUpForm.valid" (click)="submit()">Submit</button>
    </form>
</div>